<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>index</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/all.css"/>
    <link rel="stylesheet" href="/static/css/index.css"/>
    <link rel="stylesheet" href="/static/css/incubator.css"/>

    <script src="/static/js/jquery-3.3.1.js"></script>
    <!--<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>-->
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>

<body class="bj">

<div class="col-md-12 title-lead row">
    <ul class="col-md-4">
        <li id="title-logo"><a id="logo" href="/login">智药</a></li>
        <li class="tile-link" style="margin-left: 80px;"><a href="/login">主页</a></li>
        <li class="tile-link"><a>产品</a></li>
        <li class="tile-link"><a href="/showplant">药材</a></li>
    </ul>

    <div class="col-md-4 top-search">
        <input type="text">
        <button class="btn btn-default">搜索</button>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3 top-login">


        {% if request.session.is_login %}

            <div class="userimg-sm">
                <a href="/incubator">
                    <img src="/static/img/personInfo/{{ request.session.userimg }}">
                </a>
            </div>
            <h3 style="margin-left: 100px">{{ request.session.username }}</h3>
            <button class="btn btn-lg btn-danger" style="margin-top: -60px;margin-left: 100px"
                    onclick="window.location='/logout/'">注销
            </button>
        {% endif %}
        {% if not request.session.is_login %}
            <div class="userimg-sm">
                <img src="/static/img/wdl.jpg">
            </div>
            <button class="btn btn-lg btn-info" data-toggle="modal" data-target="#myModal">登录</button>
        {% endif %}

    </div>
</div>

<div class="col-md-12 person-inf">
    <ul id="myTab" class="nav nav-tabs">
        <li class="active" id="grinfBtn">
            <a href="#inf" data-toggle="tab">
                个人信息
            </a>
        </li>
        <li><a href="#box" data-toggle="tab">我的箱子</a></li>
        <!--
        添加往期数据查询
        -->
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="inf">
            <div class="col-md-12 simple-inf">

                <img class="col-md-offset-1 img-circle userimg" src="/static/img/szc.jpg">

                <div class="col-md-8 info-name">
                    <p class="col-md-12">沈大师</p>
                    <div class="col-md-12" id="info-mess">
                        <p>
                            个人简介
                        </p>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-10 more-inf">
                    <div class="col-md-12">
                        <p class="col-md-offset-3 col-md-2">用户名:</p>
                        <input class="col-md-4" value="沈大师">
                    </div>
                    <div class="col-md-12">
                        <p class="col-md-offset-3 col-md-2">用户ID:</p>
                        <input class="col-md-4" value="沈大师">
                    </div>
                    <div class="col-md-12">
                        <p class="col-md-offset-3 col-md-2">用户生日:</p>
                        <input class="col-md-4" value="沈大师">
                    </div>
                    <div class="col-md-12">
                        <p class="col-md-offset-3 col-md-2">用户性别:</p>
                        <div class="col-md-1 radio">
                            <input id="radio-1" name="s" type="radio">
                            <label for="radio-1" class="radio-label">男</label>
                        </div>
                        <div class="col-md-1 radio" style="margin-top: 20px">
                            <input id="radio-2" name="s" type="radio">
                            <label for="radio-2" class="radio-label">女</label>
                        </div>
                        <div class="col-md-1 radio " style="margin-top: 20px">
                            <input id="radio-3" name="s" type="radio" checked>
                            <label for="radio-3" class="radio-label">保密</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p class="col-md-offset-3 col-md-2">用户简介:</p>
                        <input class="col-md-4" value="沈大师">
                    </div>
                    <button class="col-md-offset-5 btn btn-lg btn-danger" id="save">保存</button>


                </div>
            </div>
            <div class="col-md-offset-1 col-md-10 more-inf-goodwork">
                <h1>优秀药材介绍</h1>
                <div>
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <a href="/showplant/plantdetail" class="thumbnail">
                                <img src="/static/img/1.jpg"
                                     alt="通用的占位符缩略图">
                                <p>杂草1号</p>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a href="/showplant/plantdetail" class="thumbnail">
                                <img src="/static/img/1.jpg"
                                     alt="通用的占位符缩略图">
                                <p>杂草1号</p>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a href="/showplant/plantdetail" class="thumbnail">
                                <img src="/static/img/1.jpg"
                                     alt="通用的占位符缩略图">
                                <p>杂草1号</p>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a href="/showplant/plantdetail" class="thumbnail">
                                <img src="/static/img/1.jpg"
                                     alt="通用的占位符缩略图">
                                <p>杂草1号</p>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a href="/showplant/plantdetail" class="thumbnail">
                                <img src="/static/img/1.jpg"
                                     alt="通用的占位符缩略图">
                                <p>杂草1号</p>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a href="/showplant/plantdetail" class="thumbnail">
                                <img src="/static/img/1.jpg"
                                     alt="通用的占位符缩略图">
                                <p>杂草1号</p>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a href="/showplant/plantdetail" class="thumbnail">
                                <img src="/static/img/1.jpg"
                                     alt="通用的占位符缩略图">
                                <p>杂草1号</p>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a href="/showplant/plantdetail" class="thumbnail">
                                <img src="/static/img/1.jpg"
                                     alt="通用的占位符缩略图">
                                <p>杂草1号</p>
                            </a>
                        </div>
                        <ul class="col-md-offset-4 col-md-4 pagination" style="margin-left: 43%">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>

                    </div>
                </div>


            </div>
        </div>
        <div class="tab-pane fade" id="box">

            <div class="col-md-offset-1 col-md-6 top-search">
                <input type="text">
                <button class="btn btn-default">搜索</button>
            </div>

            <button class="col-md-offset-2 col-md-1 btn btn-info" id="buy">购买新设备</button>
            <button class="col-md-1 btn btn-info" id="link" data-toggle="modal" data-target="#myModal">关联新设备</button>
            <div class="col-md-1"></div>
            <div class="col-md-offset-1 col-md-10 box-mem">
                {% for incubator in incu %}
                    <div class=" box-inf">
                        <img class="col-md-3 box-img img-thumbnail" src="/static/img/incubator.jpg">

                        <div class="col-md-8 box-word-head">
                            <p class="">培养箱编号:</p>
                            <p id="boxID">{{ incubator.0 }}</p>
                            <p class="">正在种植药材:</p>
                            <p id="linkdata">xxx</p>

                            <button class="col-md-offset-2 col-md-2 btn btn-info offlink">取消关联</button>
                            <form method="get" action="/incubatorDetail/{{ incubator.1 }}/">
                                <button class="col-md-2 btn btn-info goinf" type="submit">详细信息</button>
                            </form>

                        </div>
                        <div class="col-md-3"></div>
                        <!--
                        用于填入培养箱的简单信息
                        -->
                        <div class="col-md-9 box-word-main"></div>
                    </div>
                {% endfor %}
                <div class=" box-inf">
                    <img class="col-md-3 box-img img-thumbnail" src="/static/img/incubator.jpg">

                    <div class="col-md-8 box-word-head">
                        <p class="">培养箱编号:</p>
                        <p id="boxID">{{ incubator.0 }}</p>
                        <p class="">正在种植药材:</p>
                        <p id="linkdata">xxx</p>

                        <button class="col-md-offset-2 col-md-2 btn btn-info offlink">取消关联</button>
                        <form method="get" action="/incubatorDetail/{{ incubator.1 }}/">
                            <button class="col-md-2 btn btn-info goinf" type="submit">详细信息</button>
                        </form>

                    </div>
                    <div class="col-md-3"></div>
                    <!--
                    用于填入培养箱的简单信息
                    -->
                    <div class="col-md-9 box-word-main"></div>
                </div>
                <div class=" box-inf">
                    <img class="col-md-3 box-img img-thumbnail" src="/static/img/incubator.jpg">

                    <div class="col-md-8 box-word-head">
                        <p class="">培养箱编号:</p>
                        <p id="boxID">{{ incubator.0 }}</p>
                        <p class="">正在种植药材:</p>
                        <p id="linkdata">xxx</p>

                        <button class="col-md-offset-2 col-md-2 btn btn-info offlink">取消关联</button>
                        <form method="get" action="/incubatorDetail/{{ incubator.1 }}/">
                            <button class="col-md-2 btn btn-info goinf" type="submit">详细信息</button>
                        </form>

                    </div>
                    <div class="col-md-3"></div>
                    <!--
                    用于填入培养箱的简单信息
                    -->
                    <div class="col-md-9 box-word-main"></div>
                </div>
                <div class=" box-inf">
                    <img class="col-md-3 box-img img-thumbnail" src="/static/img/incubator.jpg">

                    <div class="col-md-8 box-word-head">
                        <p class="">培养箱编号:</p>
                        <p id="boxID">{{ incubator.0 }}</p>
                        <p class="">正在种植药材:</p>
                        <p id="linkdata">xxx</p>

                        <button class="col-md-offset-2 col-md-2 btn btn-info offlink">取消关联</button>
                        <form method="get" action="/incubatorDetail/{{ incubator.1 }}/">
                            <button class="col-md-2 btn btn-info goinf" type="submit">详细信息</button>
                        </form>

                    </div>
                    <div class="col-md-3"></div>
                    <!--
                    用于填入培养箱的简单信息
                    -->
                    <div class="col-md-9 box-word-main"></div>
                </div>
                <div class=" box-inf">
                    <img class="col-md-3 box-img img-thumbnail" src="/static/img/incubator.jpg">

                    <div class="col-md-8 box-word-head">
                        <p class="">培养箱编号:</p>
                        <p id="boxID">{{ incubator.0 }}</p>
                        <p class="">正在种植药材:</p>
                        <p id="linkdata">xxx</p>

                        <button class="col-md-offset-2 col-md-2 btn btn-info offlink">取消关联</button>
                        <form method="get" action="/incubatorDetail/{{ incubator.1 }}/">
                            <button class="col-md-2 btn btn-info goinf" type="submit">详细信息</button>
                        </form>

                    </div>
                    <div class="col-md-3"></div>
                    <!--
                    用于填入培养箱的简单信息
                    -->
                    <div class="col-md-9 box-word-main"></div>
                </div>
                <div class=" box-inf">
                    <img class="col-md-3 box-img img-thumbnail" src="/static/img/incubator.jpg">

                    <div class="col-md-8 box-word-head">
                        <p class="">培养箱编号:</p>
                        <p id="boxID">{{ incubator.0 }}</p>
                        <p class="">正在种植药材:</p>
                        <p id="linkdata">xxx</p>

                        <button class="col-md-offset-2 col-md-2 btn btn-info offlink">取消关联</button>
                        <form method="get" action="/incubatorDetail/{{ incubator.1 }}/">
                            <button class="col-md-2 btn btn-info goinf" type="submit">详细信息</button>
                        </form>

                    </div>
                    <div class="col-md-3"></div>
                    <!--
                    用于填入培养箱的简单信息
                    -->
                    <div class="col-md-9 box-word-main"></div>
                </div>

            </div>

        </div>


    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="margin-left: -250px">
    <div class="modal-dialog">
        <div class="modal-content-login">
            <div class="container">
                <div class="form row" style="margin-top: 100px;">

                    <div class="panel panel-default col-md-12">
                        <div>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                    style="margin-left: auto;margin-right: 0px;">&times;
                            </button>
                        </div>
                        <div class="panel-body col-md-10 col-md-offset-1" style="height: 1200px">
                            <div class="page-header">
                                <h3 class="form-title">关联新设备</h3>
                            </div>

                            <div class="page-main">
                                <div class="col-md-12 top-search">
                                    <input type="text">
                                    <button class="btn btn-default">查询</button>
                                </div>
                                <div class="col-md-12 box-inf">

                                    <img class="col-md-2 img-thumbnail box-img-link" src="/static/img/incubator.jpg">

                                    <div class="col-md-9 box-word-head">
                                        <p class="">培养箱编号:</p>
                                        <p id="boxID">1111111</p>

                                        <input name="link" type="checkbox" value="选择"/>


                                    </div>
                                    <div class="col-md-3"></div>
                                    <!--
                                    用于填入培养箱的简单信息
                                    -->
                                    <div class="col-md-9 box-word-main"></div>
                                </div>
                                <button class="col-md-offset-4 col-md-3 btn btn-danger"
                                        style="margin-top: 730px;margin-left: 350px"> 关联
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="col-md-12 page-foot">
    <div class="col-md-12 page-foot-main">
        <p class="col-md-offset-2 col-md-8"> 镜像:日本 教育网 科技网 呼叫热线：4008-100-300 服务邮箱：kf@people.cn 违法和不良信息举报电话：010-65363263
            举报邮箱：jubao@people.cn</p>
        <p class="col-md-offset-2 col-md-8"> 互联网新闻信息服务许可证10120170001 | 增值电信业务经营许可证B1-20060139 </p>
        <p class="col-md-offset-2 col-md-8"> 信息网络传播视听节目许可证0104065 | 广播电视节目制作经营许可证（广媒）字第172号 </p>
        <p class="col-md-offset-2 col-md-8"> 公司地址：花果山福地----水帘洞洞天</p>
    </div>
    <div class="col-md-12 page-foot-bottom">
        <p class="col-md-offset-2 col-md-8">网络文化经营许可证 京网文[2017]9786-1126号 | 网络出版服务许可证（京）字258号 | 京ICP证000006号 |
            京公网安备11000002000008号 </p>
    </div>
</div>
{#		<div id="body-container" class="container" style="margin-left: 0; padding-left: 0;">#}
{#			<!--#}
{#            	container 类不可嵌套使用#}
{#            -->#}
{##}
{#			<div id="right-container">#}
{#				<div class="incubator-container">#}
{#                    {% for incubator in incu %}#}
{#                        <div class="thumbnail incubator-block">#}
{#                            <img src="/static/img/incubator.jpg" alt="培养箱加载中"/>#}
{#                            <div class="caption incubator-text">#}
{#                                <h4>{{ incubator.0 }}</h4>#}
{#                                <form method="get" action="/incubatorDetail/{{ incubator.1 }}/">#}
{#                                    <button type="submit" class="btn btn-success">查看详情</button>#}
{#                                </form>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
{##}
{#					<div class="thumbnail incubator-block" style="clear:both">#}
{#						<img src="/static/img/add.jpg" alt="去关联培养箱" />#}
{#						<div class="caption incubator-text">#}
{#							<h4>去关联新的培养箱</h4>#}
{#							<form method="get" action="connectIncubator">#}
{#								<button type="button" class="btn btn-success">去关联</button>#}
{#							</form>#}
{#						</div>#}
{#					</div>#}
{#					<div class="thumbnail incubator-block">#}
{#						<img src="/static/img/gotopurchase.jpg" alt="购买培养箱" />#}
{#						<div class="caption incubator-text">#}
{#							<h4>购买一个新的培养箱</h4>#}
{#							<button type="button" class="btn btn-success">去商城</button>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#		<div class="container" id="bottom-container">#}
{#			<!--#}
{#            	作者：1758522370@qq.com#}
{#            	时间：2018-10-06#}
{#            	描述：可为底部固定信息#}
{#            -->#}
{#		</div>#}
</body>
</html>
