<!DOCTYPE html>
<html>

<!--
作者：1758522370@qq.com
时间：2018-10-06
描述：只作为一个框架的模板，并不在真正的页面中显示
-->

<head>
    <meta charset="utf-8">
    <title>发布销售药材信息</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/all.css"/>
    <link rel="stylesheet" href="/static/css/index.css"/>
    <link rel="stylesheet" href="/static/css/bbs.css"/>
    <link rel="stylesheet" href="/static/css/bbs-sell.css"/>
    <script src="/static/js/jquery-3.3.1.js"></script>
    <!--<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>-->
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/static/js/bbs.js"></script>
</head>
<body class="bj">
<div class="col-md-12 title-lead row">
    <ul class="col-md-4">
        <li id="title-logo"><a id="logo" href="/login">智药</a></li>
        <li class="tile-link" style="margin-left: 80px;"><a href="/login">主页</a></li>
        <li class="tile-link"><a>产品</a></li>
        <li class="tile-link"><a href="/showplant">药材</a></li>
    </ul>

    <div class="col-md-4 top-search">
        <input type="text">
        <button class="btn btn-default">搜索</button>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3 top-login">


        {% if request.session.is_login %}

            <div class="userimg-sm">
                <a href="/incubator">
                    <img src="/static/img/personInfo/{{ request.session.userimg }}">
                </a>
            </div>
            <h3 style="margin-left: 100px">{{ request.session.username }}</h3>
            <button class="btn btn-lg btn-danger" style="margin-top: -60px;margin-left: 100px"
                    onclick="window.location='/logout/'">注销
            </button>
        {% endif %}
        {% if not request.session.is_login %}
            <div class="userimg-sm">
                <img src="/static/img/wdl.jpg">
            </div>
            <button class="btn btn-lg btn-info" data-toggle="modal" data-target="#myModal">登录</button>
        {% endif %}

    </div>
</div>
<div id="body-container" class="col-md-12 bbs-main">
    <!--
        container 类不可嵌套使用
    -->


    <div class="col-md-offset-1 col-md-10 bbs-right">
        <div style="margin-left:140px;margin-top: 80px;" class="row">
            <blockquote>
                <h4>编辑药材展示信息</h4>
            </blockquote>
            <div class="col-md-10">
                <form role="form">
                    <div class="form-group">
                        <label for="sMedicine">药材名称</label>
                        <input class="form-control" type="text" id="sMedicine" name="sMedicine"
                               placeholder="想要展示什么药材写在这里吧"/>
                    </div>
                    <div class="form-group">
                        <label for="sDescribe">描述</label>
                        <textarea class="form-control" rows="8" id="sDescribe" name="sDescribe"
                                  placeholder="对您即将销售的药材进行描述吧"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="sPhone">联系方式</label>
                        <input type="text" class="form-control" id="sPhone" name="sPhone" placeholder="如何通过电话联系到您呢"
                               onblur="checkSPhone()"/>
                        <p id="telephoneError" class="errorMessage"></p>
                    </div>
                    <div class="form-group">
                        <label for="picture" class="sr-only">插入图片</label>
                        <label for="picture">插入图片</label>
                        <input type="file" id="picture"/>
                    </div>
                    <div class="form-group">
                        <label for="sScore">系统评分</label>
                        <p>（此处为所显示的系统评分）</p>
                        <!--
                            作者：1758522370@qq.com
                            时间：2018-10-06
                            描述：调用一些js，或后台的方法生成
                        -->
                        <a href="#">
                            <button type="button" class="btn btn-success">添加系统评分</button>
                        </a>
                    </div>
                    <div class="form-group">
                        <a href="/bbs">
                            <button type="button" class="btn btn-default" class="BBSbutton"
                                    style="float: right;margin: 10px;">取消
                            </button>
                        </a>
                        <button type="submit" class="btn btn-primary" class="BBSbutton"
                                style="float: right;margin: 10px;">发表
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container" id="bottom-container">
    <!--
        作者：1758522370@qq.com
        时间：2018-10-06
        描述：可为底部固定信息
    -->
</div>

</body>

</html>
