<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title>plant</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/css/incubator/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/all.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <link href="/static/css/incubator.css" rel="stylesheet">
    <link href="/static/css/oldplant.css" rel="stylesheet">
    <link href="/static/css/incubator/navbar.css" rel="stylesheet">
    <script src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js" type="text/javascript"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/js/moment-with-locales.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>






    <noscript>
        &lt;link rel="stylesheet" href="/static/css/incubator/noscript.css"/&gt;
    </noscript>

</head>
<!-- NAVBAR
================================================== -->

<body class="bj">


<div class="col-md-12 title-lead row">
            <ul class="col-md-4">
                <li id="title-logo"><a id="logo" href="/login">智药</a></li>
                <li class="tile-link" style="margin-left: 80px;"><a href="/login">主页</a></li>
                <li class="tile-link"><a >产品</a></li>
                <li class="tile-link"><a href="/showplant">药材</a></li>
            </ul>

            <div class="col-md-4 top-search">
                <input type="text" >
                <button class="btn btn-default">搜索</button>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3 top-login">


                {% if request.session.is_login %}

                    <div class="userimg-sm">
                        <a href="/incubator">
                        <img src="/static/img/personInfo/{{ request.session.userimg }}">
                        </a>
                    </div>
                        <h3 style="margin-left: 100px">{{ request.session.username }}</h3>
                        <button class="btn btn-lg btn-danger" style="margin-top: -40px;margin-left: 100px" onclick="window.location='/logout/'">注销</button>
                {% endif %}
                {% if not request.session.is_login %}
                    <div class="userimg-sm">
                        <img src="/static/img/wdl.jpg">
                    </div>
                    <button class="btn btn-lg btn-info" data-toggle="modal" data-target="#myModal">登录</button>
                {% endif %}

            </div>
        </div>
<div style="margin-left: 50px;margin-right: 50px;width: auto">
    <div class="col-md-12 box-detail-title">
<h1 class="col-md-4">人参种植指南</h1>
<button class="col-md-offset-6 col-md-2 btn btn-info" style="margin-top: 20px; height: 50px" onclick="window.location.href='/incubatorDetail/i01/?'">返回</button>
</div>
    <div id="box-detail" class="col-md-12">

    <div id="main">
        <div class="col-md-12 container marketing " id="viewChart">


                <div class="col-md-12 averinf" style="margin-top: 20px">

                 <h3 class="col-md-12">种植方式总述</h3>
                 <p style="font-size: 15px">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;人参是一种喜冷凉、湿润且耐荫的药用植物，生长在阔叶林、真阔叶混交林地，对生境中土壤、光照、温度、湿度有着较为严格的要求。

                    土壤：适合种植人参的土壤应该具有较低的容重，孔隙度高，透气性好，有机质含量高，质地疏松，保水保肥，土壤微生物结构稳定且有益菌作为优势菌种，pH值为6.0-6.5的微酸性环境。

                    光照：人参是喜阴性植物，喜散射光、漫反射光，禁忌阳光直射。光照过强或过弱都会影响植株正常生长。

                    温度：人参为耐寒性植物，生长发育期间，以平均气温在15-20℃为宜，温度高于30℃或低于是10℃时，人参处于休眠状态。

                    水分：人参既喜水又怕涝，对土壤水分有着比较严格的要求。当土壤湿度超过60%时，土壤透气性降低，植株根系呼吸速率降低，间歇性无氧呼吸产生的酒精会造成根系生理性障碍，影响整株生长。

                    肥料：人参喜有机质含量丰富的壤土，尤其是腐殖质含量丰富的森林土。但未经完全腐熟的农家肥料会严重影响人参的正常生长（推荐用益富源EM粪便发酵完全发酵腐熟后在用）。
                 </p>

                </div>
                <div class="col-md-12 detinf">
                <h3 class="col-md-12">生根</h3>
                <p style="font-size: 15px">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;人参是一种喜冷凉、湿润且耐荫的药用植物，生长在阔叶林、真阔叶混交林地，对生境中土壤、光照、温度、湿度有着较为严格的要求。

                    土壤：适合种植人参的土壤应该具有较低的容重，孔隙度高，透气性好，有机质含量高，质地疏松，保水保肥，土壤微生物结构稳定且有益菌作为优势菌种，pH值为6.0-6.5的微酸性环境。

                    光照：人参是喜阴性植物，喜散射光、漫反射光，禁忌阳光直射。光照过强或过弱都会影响植株正常生长。

                    温度：人参为耐寒性植物，生长发育期间，以平均气温在15-20℃为宜，温度高于30℃或低于是10℃时，人参处于休眠状态。

                    水分：人参既喜水又怕涝，对土壤水分有着比较严格的要求。当土壤湿度超过60%时，土壤透气性降低，植株根系呼吸速率降低，间歇性无氧呼吸产生的酒精会造成根系生理性障碍，影响整株生长。

                    肥料：人参喜有机质含量丰富的壤土，尤其是腐殖质含量丰富的森林土。但未经完全腐熟的农家肥料会严重影响人参的正常生长（推荐用益富源EM粪便发酵完全发酵腐熟后在用）。
                 </p>
                <h3 class="col-md-12">发芽</h3>
                <p style="font-size: 15px">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;人参是一种喜冷凉、湿润且耐荫的药用植物，生长在阔叶林、真阔叶混交林地，对生境中土壤、光照、温度、湿度有着较为严格的要求。

                    土壤：适合种植人参的土壤应该具有较低的容重，孔隙度高，透气性好，有机质含量高，质地疏松，保水保肥，土壤微生物结构稳定且有益菌作为优势菌种，pH值为6.0-6.5的微酸性环境。

                    光照：人参是喜阴性植物，喜散射光、漫反射光，禁忌阳光直射。光照过强或过弱都会影响植株正常生长。

                    温度：人参为耐寒性植物，生长发育期间，以平均气温在15-20℃为宜，温度高于30℃或低于是10℃时，人参处于休眠状态。

                    水分：人参既喜水又怕涝，对土壤水分有着比较严格的要求。当土壤湿度超过60%时，土壤透气性降低，植株根系呼吸速率降低，间歇性无氧呼吸产生的酒精会造成根系生理性障碍，影响整株生长。

                    肥料：人参喜有机质含量丰富的壤土，尤其是腐殖质含量丰富的森林土。但未经完全腐熟的农家肥料会严重影响人参的正常生长（推荐用益富源EM粪便发酵完全发酵腐熟后在用）。
                 </p>
                <h3 class="col-md-12">开花</h3>
                <p style="font-size: 15px">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;人参是一种喜冷凉、湿润且耐荫的药用植物，生长在阔叶林、真阔叶混交林地，对生境中土壤、光照、温度、湿度有着较为严格的要求。

                    土壤：适合种植人参的土壤应该具有较低的容重，孔隙度高，透气性好，有机质含量高，质地疏松，保水保肥，土壤微生物结构稳定且有益菌作为优势菌种，pH值为6.0-6.5的微酸性环境。

                    光照：人参是喜阴性植物，喜散射光、漫反射光，禁忌阳光直射。光照过强或过弱都会影响植株正常生长。

                    温度：人参为耐寒性植物，生长发育期间，以平均气温在15-20℃为宜，温度高于30℃或低于是10℃时，人参处于休眠状态。

                    水分：人参既喜水又怕涝，对土壤水分有着比较严格的要求。当土壤湿度超过60%时，土壤透气性降低，植株根系呼吸速率降低，间歇性无氧呼吸产生的酒精会造成根系生理性障碍，影响整株生长。

                    肥料：人参喜有机质含量丰富的壤土，尤其是腐殖质含量丰富的森林土。但未经完全腐熟的农家肥料会严重影响人参的正常生长（推荐用益富源EM粪便发酵完全发酵腐熟后在用）。
                 </p>
                <h3 class="col-md-12">结果</h3>
                <p style="font-size: 15px">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;人参是一种喜冷凉、湿润且耐荫的药用植物，生长在阔叶林、真阔叶混交林地，对生境中土壤、光照、温度、湿度有着较为严格的要求。

                    土壤：适合种植人参的土壤应该具有较低的容重，孔隙度高，透气性好，有机质含量高，质地疏松，保水保肥，土壤微生物结构稳定且有益菌作为优势菌种，pH值为6.0-6.5的微酸性环境。

                    光照：人参是喜阴性植物，喜散射光、漫反射光，禁忌阳光直射。光照过强或过弱都会影响植株正常生长。

                    温度：人参为耐寒性植物，生长发育期间，以平均气温在15-20℃为宜，温度高于30℃或低于是10℃时，人参处于休眠状态。

                    水分：人参既喜水又怕涝，对土壤水分有着比较严格的要求。当土壤湿度超过60%时，土壤透气性降低，植株根系呼吸速率降低，间歇性无氧呼吸产生的酒精会造成根系生理性障碍，影响整株生长。

                    肥料：人参喜有机质含量丰富的壤土，尤其是腐殖质含量丰富的森林土。但未经完全腐熟的农家肥料会严重影响人参的正常生长（推荐用益富源EM粪便发酵完全发酵腐熟后在用）。
                 </p>
                </div>

            <!--箱内属性展示  简单表示 -->

            <!-- /.row -->
        </div>

    </div>
</div>
</div>
<div class="col-md-12 page-foot">
        <div class="col-md-12 page-foot-main">
            <p class="col-md-offset-2 col-md-8"> 镜像:日本  教育网  科技网  呼叫热线：4008-100-300  服务邮箱：kf@people.cn  违法和不良信息举报电话：010-65363263  举报邮箱：jubao@people.cn</p>
            <p class="col-md-offset-2 col-md-8"> 互联网新闻信息服务许可证10120170001 | 增值电信业务经营许可证B1-20060139 </p>
            <p class="col-md-offset-2 col-md-8"> 信息网络传播视听节目许可证0104065 | 广播电视节目制作经营许可证（广媒）字第172号 </p>
            <p class="col-md-offset-2 col-md-8"> 公司地址：花果山福地----水帘洞洞天</p>
        </div>
        <div class="col-md-12 page-foot-bottom">
            <p class="col-md-offset-2 col-md-8">网络文化经营许可证 京网文[2017]9786-1126号 | 网络出版服务许可证（京）字258号 | 京ICP证000006号 | 京公网安备11000002000008号 </p>
        </div>
    </div>







</body>
<script>

$(function () {

    var picker1 = $('#datetimepicker1').datetimepicker({

        format: 'YYYY-MM-DD',

        locale: moment.locale('zh-cn'),

        //minDate: '2016-7-1'

    });

    var picker2 = $('#datetimepicker2').datetimepicker({

        format: 'YYYY-MM-DD',

        locale: moment.locale('zh-cn')

    });

    //动态设置最小值

    picker1.on('dp.change', function (e) {

        picker2.data('DateTimePicker').minDate(e.date);

    });

    //动态设置最大值

    picker2.on('dp.change', function (e) {

        picker1.data('DateTimePicker').maxDate(e.date);

    });

});

</script>
</html>
