.form-block{
	margin-top: 30px;
}

.errorMessage{
	margin-bottom: -2px;
	color: red;
}
.index-lb-bj{

	position: absolute;
	top:165px;
	background: rgba(0,0,0,0.3);
	height: 460px;
	width: 100%;
}
.index-lb{
	padding: 0px;
	margin-left: 65px;
	margin-right: auto;
	margin-top: 30px;
	height: 550px;
	border-radius: 5px;
	border: 5px solid rosybrown;
}


.carousel-inner>.item>a>img, .carousel-inner>.item>img{
	border-radius: 5px;
	width: 100%;
	height: 541px;
}
.box-inf {
	margin-top: 5px;
	border: 5px solid lightgray;
	height: 900px;
}
